<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/public.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div id="header">
    <div class="wrap">
        <p class="headlt">
            <a href="javascrit:;">
                <!--<img src="/images/bgimg.jpg" alt="">-->
            </a>
        </p>

        <div class="btns">
        欢迎来到<span class="key">Mr.Zhang</span>的个人博客，请<button type="button" class="btn btn-default" onclick="location.href='/'">登录</button>
        没有账户名？去<button type="button" class="btn btn-default" onclick="location.href='/regi'">注册</button>
        </div>

    </div>
</div>

</body>
</html>
