<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/public.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/regi.css">
</head>
<body>
<div class="content">
    <h1>注册一个属于自己的博客吧~</h1>
    <div class="wrap">
        <form action="/users/form" method="post">
            <div>
                <label>用户名:</label>
                <input type="text" name="user" class="txt" required="required">
            </div>
            <div>
                <label>密  码:</label>
                <input type="password" name="psw" class="psw" required="required">
            </div>

            <div>
                <label>性 别:</label>
                <input type="radio" name="sex">男    <input type="radio" name="sex">女
            </div>
            <div><label>邮 箱:</label>
                <input type="email" name="email" required="required">
            </div>
            <div>
                <label>手机号:</label>
                <input type="text" name="tel" required="required">
            </div>
            <input type="submit" value="注册"  class="btn btn-default"style="margin: 60px;">
           
          已有账号？去 <button type="button" class="btn btn-default" onclick="location.href='/'">登录</button>
        </form>
    </div>
</div>
</body>
</html>
